/*Generales*/
*{
    box-sizing: border-box;
}

html,body{
    height: 100%;
    margin:0;
    padding:0
}

/* Principal */

body{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
}

.principal{
    display: flex;
    max-width: 768px;
    min-width: 320px;
}
.icono{
    width: 55px;
}


/*Columnas*/

.columna{
    color: white;
    padding: 2rem;
    width: 25%;
    overflow: hidden;
    transition: width .3s ease-in-out;
    cursor: pointer;
}
.columna.activa{
    width: 50%;
}
.columna:first-of-type{
    border-radius: 1rem 0 0 1rem;
}

.columna:last-of-type{
    border-radius: 0 1rem 1rem 0 ;
}

.bmw{
    background-color: hsl(31, 77%, 52%);
}

.benz{
    background-color: hsl(184, 100%,22%);
}

.audi{
    background-color: hsl(179, 100%, 13%);
}

.titulo{
    text-transform: uppercase;
}

.texto{
    font-size: 14px;
    margin-bottom: 4rem;
}

.enlace{
    text-decoration: none;
    background-color: white;
    border-radius: 1rem;
    padding: .5rem 1rem;
    font-size: 12px;
}

.bmw .enlace{
    color: hsl(31, 77%, 52%);
}

.benz .enlace{
    color: hsl(184, 100%,22%);
}

.audi .enlace{ 
    color: hsl(179, 100%, 13%);
}